<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650850116573-o5bk1mterpu2cva4mavm2dkb4r0gpti2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650850116573-o5bk1mterpu2cva4mavm2dkb4r0gpti2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>650850116573-147pedbrilkng7qe0ipv087kkefqo1vv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD52DGm2SpFN7R3kH2SS5msJM6HOOzaFQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>650850116573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mindfulsouls.mindfulsouls1</string>
	<key>PROJECT_ID</key>
	<string>mindfulsouls-80e7f</string>
	<key>STORAGE_BUCKET</key>
	<string>mindfulsouls-80e7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650850116573:ios:12ea780bea95186b15cc34</string>
</dict>
</plist>